<section id="banner">
    <h2><strong>Learner'sPoint</strong> is temple of learning where we help you achieve your dreams of learning new
        technology.</h2>
    <ul class="actions">
        <li><a href="#" class="button special">Get started</a></li>
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper special">
    <div class="inner">
        <header class="major">
            <h2>Our experts</h2>
        </header>
        <div class="features">
            <div class="feature">
                <mat-icon class="memberimage">person</mat-icon>
                <h3>Etiam Cnsequat</h3>
                <p>Angular</p>
                <p>"Learning begins from within."</p>
            </div>
            <div class="feature">
                <mat-icon class="memberimage">person</mat-icon>
                <h3>Liam Corg</h3>
                <p>React</p>
                <p>"To develop great things you need to appriciate simple things."</p>
            </div>
            <div class="feature">
                <mat-icon class="memberimage">person</mat-icon>
                <h3>Ramanujan</h3>
                <p>NodeJS</p>
                <p>"Keep learning everyday because things are changing very day."</p>
            </div>
            <div class="feature">
                <mat-icon class="memberimage">person</mat-icon>
                <h3>Etiam Cnsequat</h3>
                <p>Angular</p>
                <p>"Learning begins from within."</p>
            </div>
            <div class="feature">
                <mat-icon class="memberimage">person</mat-icon>
                <h3>Liam Corg</h3>
                <p>React</p>
                <p>"To develop great things you need to appriciate simple things."</p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="inner narrow">
        <header>
            <h2>Get in touch</h2>
        </header>
        <form class="grid-form" method="post" action="#">
            <div class="form-control narrow">
                <label for="name">Name</label>
                <input name="name" id="name" type="text">
            </div>
            <div class="form-control narrow">
                <label for="email">Email</label>
                <input name="email" id="email" type="email">
            </div>
            <div class="form-control">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="4"></textarea>
            </div>
            <div class=" form-control actions">
                <!-- <ul > -->
                <input value="Send Message" type="submit">
                <!-- </ul> -->
            </div>
        </form>
    </div>
</section>